{% extends 'base.html' %}

{% block content%}

<h2 class="page-header-sm text-center my-5">Employees <small class="text-muted">Overview</small></h2>

<table class="table fw-light">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
{% for e in employees%}
    <tr>
        <td class="align-middle">{{ e[0] }}</td>
        <td class="align-middle">{{ e[1] }}</td>
        <td class="align-middle">{{ e[2] }}</td>
        <td class="align-middle">{{ e[3] }}</td>
        <td class="align-middle"><img src="{{ e[4] }}" width="100"></td>
    </tr>
    
{% endfor %}
</tbody>
</table>

{% endblock content%}
