{% extends 'base.html' %}

{% block content%}
<h2 class="page-header-sm text-center mt-5">About <small class="text-muted">SocioLens WebApp</small></h2>

<p class="fw-light">This small Web App is connected to a very simple <a href="https://www.postgresql.org" target="_blank">postgresql</a> database which stores employees in the context of our SocioLens App. It allows to <i>show all, edit</i> and <i>delete</i> employees that already have been registered to the database, as well as adding new employees.</p>

{% endblock content%}